{% extends "base.tpl" %}
{% block body %}
<p>{{ card }}</p>
<p><img src="/images/card/{{ card.key }}.png" /></p>
{% if not solved %}
<p>{{ card.question|safe }}</p>
<p>{{ correct }}</p>
{% if form %}
<form method="post" action="">
{% block solveform %}
<table>
{{ form.as_table }}
<tr><td></td></tr>
<tr><td colspan="2" align="right"><input type="submit" /></td></tr>
</table>
{% endblock solveform %}
</form>
{% endif %}
{% else %}
<p>You have already solved this card</p>
{%endif%}
{% endblock body %}