{% extends "card/view.html" %}
{% block solvefields %}
{% if form.errors %}
  <p class="error">Please fill in all the fields</p>
{% endif %}
	<tr><td colspan="5" style="text-align:center;"><b>FRONT</b></td></tr>
	<tr><td>{{ form.field1 }}</td><td>{{ form.field2 }}</td><td>{{ form.field3 }}</td><td>{{ form.field4 }}</td><td>{{ form.field5 }}</td></tr>
	<tr><td>{{ form.field6 }}</td><td>{{ form.field7 }}</td><td>{{ form.field8 }}</td><td>{{ form.field9 }}</td><td>{{ form.field10 }}</td></tr>
{% endblock solvefields %}