{% extends "base.tpl" %}
{% block body %}
				<div class="p-box"> 
					<h1>Perplex City S2W2 Card Solver</h1> 
				</div> 
				
				<div class="p-box"> 
					{% with "True" as longbox %}
					{% include "card_snippet.tpl" %}
					{% endwith %}

{% if exceeded %}
	<div class="answer-incorrect">
		<p>Sorry, you can only attempt to solve a card 3 times in 24 hours.</p>
	</div>
{% else %}
{% if not solved %}
					<div class="question-text">
						<p>{{ card.question|default_if_none:""|safe }}</p>
					</div>
					
					<div class="solve-notes">
						<p>{{ card.notes|default_if_none:""|safe }}</p>
					</div>

{% if answered %}
{% if correct %}
					<div class="answer-correct">
						<p>Congratulations, you've solved this card!</p>
					</div>
{% else %}
					<div class="answer-incorrect">
						<p>Sorry, that answer wasn't correct.</p>
					</div>
{% endif %}
{% endif %}	
					
{% if form %}
					<div class="answer-form">
						<form method="post" action="">
{% block solveform %}
<table>
{% block solvefields %}
{{ form.as_table }}
{% endblock solvefields %}
<tr><td></td></tr>
<tr><td colspan="5" align="right"><input type="submit" value="Check Answer" /></td></tr>
</table>
{% endblock solveform %}
						</form>
{% endif %}
{% else %}
<div class="already-solved">
	<p>You have already solved this card</p>
</div>
{%endif%}
{% endif %}

					</div>

					<div class="clear"></div> 
				</div> 
				<div class="p-box-bottom p-last"></div> 
				
{% endblock body %}