{% extends "base.tpl" %}
{% block body %}
			
				<div class="p-box"> 
					<h1>Perplex City S2W2 Card Solver</h1> 
					
					<!--<div align="center">
						<p>Logged in as <b>Jey</b></p>
					</div>-->
					
					<div class="form-center">
						<form method="post" action="">
							<p><label for="username">Username:</label> <input id="username" name="username" type="text" />
							<label for="password">Password:</label> <input class="work" id="password" name="password" type="password" /></p>
							<p><input type="submit" value="Sign in" /></p>
						</form>
					</div>
				</div> 
				
				<div class="p-box"> 
					<h2 align="center">Choose a card to solve</h2>

<div class="card-rows">
{% for card in card_list %}
{% if forloop.counter|divisibleby:"4" %}
</div>
<div class="card-rows">
{% endif %}
<div class="card-box{% if card.solved %} solved{% endif %}">
	<img src="/images/card/{{card.key}}.png" class="card-image" />
	<p class="number"><span class="{{card.colour}}">#{{card.key}}</span></p>
	<p class="title"><a href="{{card.get_absolute_url}}">{{card.name}}</a></p>
</div>
{% endfor %}

					<div class="clear"></div> 
				</div> 
				<div class="p-box-bottom p-last"></div> 
{% endblock body %}