{% extends "base.tpl" %}
{% block body %}
			
				<div class="p-box"> 
					<h1>Perplex City S2W2 Card Solver</h1> 
					{% if user.is_authenticated %}
						<div align="center">
							<p>Logged in as <b>{{ user.username }}</b></p>
						</div>
					{% else %}
					<div class="form-center">
						{% if login_error %}
						  <p class="error">That's not a valid username or password</p>
						{% endif %}
						<form method="post" action=".">
							<p><label for="username">Username:</label> <input id="username" name="username" type="text" />
							<label for="password">Password:</label> <input class="work" id="password" name="password" type="password" />
							<input type="submit" value="Sign in" /></p>
						</form>
						<p align="right"><a href="{% url register %}">Register</a></p>
					</div>
					{% endif %}
				</div> 
				
				<div class="p-box"> 
					{% if user.is_authenticated %}<h2 align="center">Choose a card to solve</h2>{% endif %}

<div class="card-rows">
{% for card in card_list %}
{% if forloop.counter0|divisibleby:"4" %}
</div>
<div class="card-rows">
{% endif %}
{% include "card_snippet.tpl" %}
{% endfor %}
</div>

					<div class="clear"></div> 
				</div> 
				<div class="p-box-bottom p-last"></div> 
{% endblock body %}